/** common css start */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root{
    --bgColor: rgb(255, 255, 255);
    --sidebarBg: white;
    --textColor: black;
}
.darkmode{
    --bgColor: rgb(16, 16, 16);
    --sidebarBg: rgb(23, 26, 42);
    --textColor: white;
}

html,body{
    cursor: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: "arial";
    background-color: var(--bgColor);
}
.container{
    width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
/* common css end  */
/*main start */
nav{
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;
    
}

nav button{
    width: 40px;
    height: 40px;
    border: none;
    background-color: #111;
    color: white;
    font-size: 20px;
    cursor: pointer;
}


.sidebar{
    position: fixed;
    inset: 0;
    background-color: #0000009a;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease;
}

.sidebar.active{
    opacity: 1;
    visibility: visible;
}


.sidebarCnt{
    background-color: var(--sidebarBg);
    height: 100vh;
    overflow: auto;
    width: 80%;
    padding: 30px;
    max-width: 350px;
    position: relative;
    transform: translateX(-100%);
    transition: 0.5s ;
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(146, 183, 167, 0.896);
    padding: 15px 0;
    margin-bottom: 6px;
}
li:hover{
    background-color:  rgba(176, 183, 146, 0.988);
    border-right: 4px solid rgba(47, 255, 186, 0.329);
}
.sidebar.active .sidebarCnt{
    transform: translateX(0%);

}


.sidebarCnt img{
    width: 100%;
    max-width: 250px;
}
.sidebarCnt ul{
    margin-top: 20px;
}
.sidebarCnt ul li a{
text-decoration: none;
color: var(--textColor);
font-size: 16px;
display: block;
}

.sidebarCnt span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
    display: block;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: white;
    position: absolute;
    top: 25px;
    right: 10px;
    cursor: pointer;
}


.darkModeBtn{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
}

.darkModeBtn span{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background-color: #111;
    line-height: 40px;
    transition: 0.3s ease-in;
}

.darkModeBtn span.moonIcon{
    top: 0;
    right: -100%;
}


body.darkmode .darkModeBtn span.sunIcon{
    left: -100%;
}
body.darkmode .darkModeBtn span.moonIcon{
     right: 0%;
}




.cursor{
    width: 40px;
    height: 40px;
    border: 1px solid var(--textColor);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    pointer-events:none;
    z-index: 9999999;
}
.cursorSm{
    width: 10px;
    height: 10px;
    background-color: var(--textColor);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    transition: 0.05s;
    pointer-events:none;
    z-index: 9999999;
}
/*main end*/